<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sselab.springboot.author.mapper.AuthorMapper">

    <select id="findAuthorInfo" resultType="AuthorModel">
         SELECT DISTINCT
          p.`AUTHOR_PK_ID` AS `authorId`,
          p.`AUTHOR_NAME` AS `authorname`,
          p.`AUTHOR_EMAIL` AS `email`,
          p.`AUTHOR_ADDRESS` AS `address`
        FROM `AUTHOR` AS p JOIN `BOOK` AS m 
ON (m.`BOOK_FK_AUTHOR_ID` = p.`AUTHOR_PK_ID`) WHERE m.BOOK_NAME = #{bookname}
    </select>

</mapper>